:root.dark {
  background: #11001f;
  color: #f4f1ea;
  transition: background 0.634s ease;
}

:root.dark .navbar {
  background: rgba(20,20,20,0.85);
}

:root.dark .contact-btn {
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
:root.dark nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  break-inside: avoid-column;
  position: fixed;
  scroll-behavior: smooth;
  backdrop-filter: blur(7px);
  z-index: 999;
}
:root.dark ul {
  list-style-type:none;
  display: grid;
  grid-template-columns: repeat(6,107px);
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 0 auto;
}

:root.dark .nav-list {
  border: 2px solid #ffffff;
  /* margin-top: -57px; */
  gap: 10px;
  padding: 8px 16px;
  /* margin: 0 0 0 30px; */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  border-radius: 12px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  cursor: pointer;
  flex-direction: column;
}
:root.dark .nav-list:hover {
  transform: scale(1.1);
  transition: transform 12ms ease,
    background 0.25s ease;
  backdrop-filter: blur(10px);
  outline-offset: 2px;
  
  transform: scaleX(1);
  transform-origin: bottom right;
}
:root.dark .nav-list::after{
  margin-top: 3px;
  content: '';
  position: absolute;
  left: 23%;
  bottom: 12%;
  width: 5%;
  height: 2px;
  transition: width 0.45s ease;
  transform-origin: right;
  box-shadow: 0 0 6px (88,59,31,0.6);
}
:root.dark .nav-list:hover::after{
  background: #ffffff;
  width: 60%;
  transform-origin: left;
  margin-top: 12px;
}

:root.dark nav h1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  position: fixed;
  margin: 22px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

:root.dark .banner-img{
  /* margin-top: 41px; */
  min-height: 35px;
  height: 20px;
  min-width: 55px;
  width: 8%;
  margin-left: 40px;
}

:root.dark .nav-inner{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:root.dark .nav-inner.scrolled{
  height: 70px;
  width: 100%;
  max-width: 1200px;
}

:root.dark .call-me {
  margin-right: 200px;
}
:root.dark .div-inner{
  flex: 1;
  display: flex;
  justify-content: center;
}
:root.dark .mode{
  display: flex;
  align-items: center;
  gap: 12px;
}
:root.dark .theme-toggle {
  width: 42px;
  height: 280px;
  border-radius: 50%;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.25s ease ;
  margin-top:-12px;
  margin-left: -78px;
}
:root.dark .theme-toggle:hover{
  transform: rotate(16deg);
}
:root.dark .nav-link {
  color: #f4f1ea;
}
:root.dark .nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

:root.contact-btn {
  margin: -0px 79px 0px -78px;
  padding: 16px 32px;
  border: 1px solid #11001f;
  background: transparent;
  border-radius: 50px;
}
:root.dark .contact-btn:hover{
  background:#280049;
  cursor: pointer;
}

:root.dark .nav-list.scroll {
  border: none;
  transition: border 0.35s ease-in-out;
}

root.dark .theme-icon {
  filter : brightness(0) invert(1);
}