* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
  transition: background 0.634s ease;
  list-style: none;
  text-decoration: none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  break-inside: avoid-column;
  position: fixed;
  scroll-behavior: smooth;
  backdrop-filter: blur(7px);
  z-index: 999;
  padding: 0 48px;
  top: 0;
  padding: 0 48px;
  /* height: 72px; */
}
ul {
  list-style-type:none;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 0 0 71px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  border: 2px solid #673b1f;
  /* margin-top: -57px; */
  gap: 10px;
  padding: 8px 16px;
  margin-right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #583b1f;
  border-radius: 12px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  cursor: pointer;
}
.nav-list:hover {
  transform: scale(1.1);
  transition: transform 12ms ease,
    background 0.25s ease;
  backdrop-filter: blur(10px);
  outline-offset: 2px;
  
  transform: scaleX(1);
  transform-origin: bottom right;
}
.nav-link{
  color: #583b1f;
}
.nav-list::after{
  margin-top: 3px;
  content: '';
  position: absolute;
  left: 23%;
  bottom: 12%;
  width: 5%;
  height: 2px;
  transition: width 0.45s ease;
  transform-origin: right;
  box-shadow: 0 0 6px (88,59,31,0.6);
}
.nav-list:hover::after{
  background: #583b1f;
  width: 60%;
  transform-origin: left;
}

.div-inner{
  flex: 1;
  display: flex;
  justify-content: center;
}
.mode{
  display: flex;
  align-items: center;
  gap: 12px;
}
.theme-toggle {
  margin: -7px 160px 0 -231px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.25s ease ;
}
.theme-toggle:hover{
  transform: rotate(16deg);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-btn {
  margin: -0px 79px 0px -78px;
  padding: 16px 32px;
  border: 1px solid rgba(164, 164, 168, 0.75);
  background: transparent;
  border-radius: 50px;
}
.contact-btn:hover{
  background:rgba(211, 211, 211, 0.2);
}

/**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  break-inside: avoid-column;
  position: fixed;
  scroll-behavior: smooth;
  backdrop-filter: blur(7px);
  z-index: 999;
}
ul {
  list-style-type:none;
  display: grid;
  grid-template-columns: repeat(6,107px);
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin: 0 auto;
  margin: 0 0 0 71px;
}

.nav-list {
  border: 2px solid #583b1f;
  /* margin-top: -57px; */
  gap: 10px;
  padding: 8px 16px;
  /* margin: 0 0 0 30px; */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #583b1f;
  border-radius: 12px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1000;
  cursor: pointer;
  flex-direction: column;
}
.nav-list:hover {
  transform: scale(1.1);
  transition: transform 12ms ease,
    background 0.25s ease;
  backdrop-filter: blur(10px);
  outline-offset: 2px;
  
  transform: scaleX(1);
  transform-origin: bottom right;
}
.nav-list::after{
  margin-top: 3px;
  content: '';
  position: absolute;
  left: 23%;
  bottom: 12%;
  width: 5%;
  height: 2px;
  transition: width 0.45s ease;
  transform-origin: right;
  box-shadow: 0 0 6px (88,59,31,0.6);
}

.nav-list:hover::after{
  background: #583b1f;
  width: 60%;
  transform-origin: left;
  margin-top: 12px;
}

nav h1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  position: fixed;
  margin: 22px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.banner-img{
  /* margin-top: 41px; */
  min-height: 35px;
  height: 20px;
  min-width: 55px;
  width: 8%;
  margin-left: 40px;
}

.nav-inner{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-inner.scrolled{
  height: 70px;
  width: 100%;
  max-width: 1200px;
}

.call-me {
  margin-right: 200px;
}
.div-inner{
  flex: 1;
  display: flex;
  justify-content: center;
}
.mode{
  display: flex;
  align-items: center;
  gap: 12px;
}
.theme-toggle {
  width: 42px;
  height: 280px;
  border-radius: 50%;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.25s ease ;
  margin-top:-8px;
  margin-left: -78px;
}
.theme-toggle:hover{
  transform: rotate(16deg);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-btn {
  margin: 0px 100px 18px -100px;
  padding: 16px 32px;
  border: 1px solid rgba(164, 164, 168, 0.75);
  background: transparent;
  border-radius: 50px;
  align-items: center;
  justify-content: center;

}
.contact-btn:hover{
  background:rgba(211, 211, 211, 0.2);
  cursor: pointer;
}
.nav-bar.scroll {
  height: 70px;
  backdrop-filter: blur(14px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
  border: none;
}
.nav-list.scroll {
  border: none;
  transition: border 2.1s ease;
}

.theme-icon {
  filter: brightness(0);
}

:root.dark .theme-icon {
  filter: brightness(0) invert(1);
}