@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
* ,
*::before
*::after{
  color: var(--text-color);
}
:root {
  --main-bg: #ededed;
  --main-fg: #11001f;
  --text-color: #11001f;
}

html.dark {
  --main-bg: #11001f;
  --text-color: #e7eded;
}

.contact {
  min-height: calc(100vh - 120px);
  margin-top: -120px;
  padding: 60px 80px;
  background: var(--main-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  transition: background 0.3s ease, color 0.3s ease;
  text-align: center;
  margin: 150px 0 150px 0;
}

.qx-1{
  text-align: center;
  font-size: 20px;
  margin-bottom: -25px;
}

.qx-2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5px;
}

.qx-3 {
  text-align: center;
  font-size: 18px;
  width: 720px;
  margin-bottom: 25px;
}

.input-text-and-email {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

:root.dark .text-name,
:root.dark .text-email {
  padding:10px 85px;
  background: #19002c;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius:6px;
  text-align: left;
  margin-bottom: 12px;
  color: var(--text-color);
}

.text-name,
.text-email{
  background: #f1f1f1 ;
  border: 1px solid rgba(20,20,20,0.4);
  padding:10px 85px;
  border-radius:6px;
  text-align: left;
  margin-bottom: 12px;
  color: var(--text-color);
}

:root.dark .text-area {
  height: 242px;
  min-width: 726px;
  background: #19002c;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius:6px;
  text-align: left;
  color: var(--text-color);
  margin-bottom: 12px;
}

 .text-area {
  height: 242px;
  width: 726px;
  background: #f1f1f1;
  border: 1px solid rgba(20,20,20,0.4);
  border-radius:6px;
  text-align: left;
  color: var(--text-color);
  margin-bottom: 12px;
}

.check-robot {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: self-start;
  position: relative;
  box-sizing: content-box;
  max-width: 300px;
  width: 100%;
  height: 75px;
  border: 1px solid;
  border-radius: 12px;
  left: -212px;
}

.contact-submit{
  display: inline-flex;
  gap: 10px;
  border: 1px solid rgba(80, 80, 80, 0.3);
  padding: 14px 34px;
  border-radius: 999px;
  font-size: 18px;
  transition: background 0.3s ease, color 0.3s ease , gap 0.3s ease;
}
:root.dark .contact-submit {
  background:transparent;
  color: var(--text-color);
}

.contact-submit:hover {
  background: rgba(200, 200, 200, 0.1);
}

:root.dark .contact-submit:hover {
  background: #29004d;

}

:root.dark .right-arrow {
  width: 16px;
  height: 16px;
  object-fit: contain;
  filter: brightness(0) invert(1);
  transition: filter 0.4s ease;
  margin:6px -3px -4px 4px;
}

.right-arrow {
  width: 14px;
  height: 16px;
  object-fit: contain;
  filter: brightness(0);
  transition: filter 0.4s ease;
}
