*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.6;
  font-family: 'DM Serif Display', serif;
}

/* ================= ROOT THEME ================= */

:root {
  --main-bg: #ededed;
  --main-fg: #11001f;
  --text-color: #11001f;
}

html.dark {
  --main-bg: #11001f;
  --text-color: #e7eded;
}

/* ================= HOME / HERO ================= */

.home {
  min-height: calc(100vh - 120px);
  margin-top: 65px;
  padding: 4rem 2rem;
  background: var(--main-bg);
  color: var(--text-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;

  transition: background 0.3s ease, color 0.3s ease;
  text-align: center;
  margin-bottom: 120px;
}

/* ================= PROFILE IMAGE ================= */

.profile-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 30px rgba(155, 44, 245, 0.55);
  transition: transform 0.3s ease;
}

.profile-image:hover {
  transform: scale(1.06);
}

/* ================= TEXT ================= */

.name {
  font-size: 1.3rem;
  font-weight: 500;
  opacity: 0.9;
}

.fromwhere {
  max-width: 720px;
  font-size: clamp(2.9rem, 6vw, 3.6rem);
  font-weight: 400;
  line-height: 1.2;
  margin: 0.5rem auto;
}

.description {
  max-width: 42rem;
  font-size: 0.80rem;
  opacity: 0.85;
  font-size:15px;
  font-family: 0v0 ,serif;
}

/* ================= BUTTONS ================= */

.contact-me {
  margin-top: 1rem;
  padding: 14px 46px;
  border-radius: 999px;
  border: none;

  background: linear-gradient(
    90deg,
    #9B2CF5 0%,
    #C13CFF 35%,
    #FF4F9A 70%,
    #FF8A00 100%
  );

  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  margin-left: -160px;
  box-shadow: 0 0 25px rgba(193, 60, 255, 0.45);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  margin-right: 62px;
}

.contact-me:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 35px rgba(193, 60, 255, 0.65);
}
.hand-hi {
  margin-left: 5px;
  height: 30px;
  width: 30px;
}

.my-resume {
  margin-top: 1rem;
  padding: 14px 46px;
  border-radius: 999px;
  border: 1px solid rgba(164, 164, 168, 0.75);
  background: transparent;
  color: var(--text-color);
  font-size: 0.95rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  margin: -57px 0 0 188px;
}
.my-resume:hover{
  background:rgba(193, 60, 255, 0.15);
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  min-height: 100vh;
  padding: 60px 8%;
  display: flex;
  align-items: center;
}

.download-icon {
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2px;
}

a{
  text-decoration: none;
  color: var(--text-color);
}